<h1>Project-management</h1>
<ul>
	<li>Управление проектами</li>
	<li>Управление тасками (задачами)</li>
	<li>Назначение пользователей на задачи, установка дедлайнов и т.д. (примерно как <a href="https://basecamp.com">basecamp.com</a>.)</li>
</ul>
<h2>Функциональность проекта</h2>
<ol>
<li>Создание проектов</li>
<li>названчение исполнителей проектов</li>
<li>создание задач проекта</li>
<li>установка сроков</li>
<li>комментирование проектов и задач</li>
</ol>