body
	background: #ECECEC
	color: #5E5E5E
	font: 14px 'Lucida Grande', Arial, sans-serif

h2
	margin: 0px auto
	width: 500px
	text-align: center
	margin-top: 50px

a
	color: #27A0FF

a hover
	color: #27A0FF

#enter
	width: 500px
	margin: 0px auto	
	text-align: center

.about
	background: #fff
	border: 1px solid #27A0FF
	border-radius: 8px
	margin: 0px auto
	width: 500px
	padding: 20px
	margin-top: 30px

.about li
	margin-top: 10px

.container
	background: #fff
	border: 1px solid #27A0FF
	border-radius: 8px
	margin: 0px auto
	width: 500px
	padding: 20px
	margin-top: 30px

.link
	margin: 0px auto
	width: 200px
	text-align: center
